# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3

# Reports
*.csv
*.json
*.pdf

# Virtual environments
env/
venv/
.venv/

# IDE
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db


# .gitignore
*.csv
*.json
*.pdf
__pycache__/
*.pyc